
<table border=1> 
 <tr>
    <th>Information</th>
    <th>Valeur</th>
  </tr>

<p> <% for (let item of details) {
    %> 
<tr> 
<td> Type d'avion    </td> 
<td><%= item.type %> </td>
</tr>
<% } %></p>


</p>
</table>

</html>