<!DOCTYPE html>
<html>
  <head>
      <title>KOREAN TRAFIC CONTROLE</title>
  </head>
<h1> La liste des vols<%=results%></h1>

<table border=1> 
 <tr>
    <th>Id</th>
    <th>Orientation</th>
  </tr>

<p> <% for (let item of results.keys() ){
    %> 
<tr> <td>
    <%= item %></td><td> <a href="/voldetails/<%=results[item].id %>" class="details"> <%= results[item].orientation %></a></td>
</tr>
<% } %></p>


</p>
</table>


<div id="detailVol">

</div>

</html>